.navbar {
    /* color: black; */
    margin: auto 0;
}

#navbarNavAltMarkup {
    justify-content: end;
    align-items: end;
}

body {
    background-image: url(./images/background-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio-logo {
    width: 80px;
    height: 80px;
}

  .skillslider{
    width: 100%;
    height: auto;
    background-color: rgb(224, 222, 237);
    background-image: url(./images/frontend-banner.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #000;
  }

  .container {
    overflow: hidden;
    .slider {
      animation: slidein 30s linear infinite;
      white-space: nowrap;
      .logos {
        width: 100%;
        display: inline-block;
        margin: 20px 30px;
        .fab {
          width: calc(100% / 7);
          animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }
      }
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .frontendpic img {
    width: 100%;
    height: 340px;
  }