.navbar {
    /* color: black; */
    margin: auto 0;
}

.navbar-brand {
  font-size: 3em;
  font-weight: bolder;
  font-stretch: expanded;
  text-shadow: 0 0 3px #21ec06, 0 0 5px white;
}

/* 
.navbar-nav a.nav-link:hover {
  color: blue;
}
*/

#navbarNavAltMarkup {
    justify-content: end;
    align-items: end;
}

body {
    background-image: url(./images/background-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio-logo {
    width: 80px;
    height: 80px;
    mix-blend-mode: screen;
}

.headlines {
  font-size: xx-large;
  font-weight: bolder;
}

.headlines p {
  color: black; 
  /* font-family: "arial"; */
  /* font-size: 3em; */
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
from {
   width: 0;
  transition: all 2s ease-in-out;
} 
}

@media (max-width: 576px) {
  .headlines p {
    font-size: 0.5em;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .headlines p {
    font-size: 0.7em;
  }
}

@media (min-width: 992px) and (max-width: 1240px) {
  .headlines p {
    font-size: 1em;
  }
}

.btn a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.btn a:hover {
  color: #21ec06;
}


  .skillslider{
    width: 100%;
    height: auto;
    background-color: rgb(224, 222, 237);
    background-image: url(./images/frontend-banner.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #000;
  }

  .container {
    overflow: hidden;
    .slider {
      animation: slidein 30s linear infinite;
      white-space: nowrap;
      .logos {
        width: 100%;
        display: inline-block;
        margin: 20px 30px;
        .fab {
          width: calc(100% / 7);
          animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }
      }
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .frontendpic img {
    width: 100%;
    height: 340px;
  }